<% content_for :body_class do %><%=t(:text_about)%><% end %>

<% content_for :title do %>
  <%=t(:label_about_the_open_data_catalog)%>
<% end %>

<%= show_flash_message %>

<div id="ltColumn">
  <p><%=t(:text_about_the_open_data_catalog)%></p>
  <p><%=t(:text_about_natdatcat1)%> <a href="http://www.nationaldatacatalog.com">National Data Catalog</a> <%=t(:text_about_natdatcat2)%> <a href="http://sunlightlabs.org">SunLight Labs</a> <%=t(:text_about_natdatcat3)%> <%=t(:text_about_natdatcat4)%></p>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <div id="about" class="module">
      <h3><%=t(:text_overview)%></h3>
      <p><%=t(:text_the_open_data_catalog_is_an_open_interactive_catalog_of_government_data_sets)%></p>
    </div>
  </div>
</div>

<div class="clear"></div>
</div>
