<% content_for :body_class do %><%=t(:text_about)%><% end %>

<% content_for :title do %>
  <%=t(:text_about_the_national_data_catalog)%>
<% end %>

<%= show_flash_message %>

<div id="ltColumn">
  <p><%=t(:text_the_national_data_catalog_natdatcat_is_an_open_platform_for_government_data_sets_and_apis_natdatcat_makes_it_easy_to_find_datasets_by_and_about_government_across_all_levels_federal_state_and_local_and_across_all_branches_executive_legislative_and_judicial_the_data_here_is_imported_from_several_sources_and_curated_by_our_staff_currently_we_have_importers_setup_for)%><a href="http://data.gov"><%=t(:text_data_gov)%></a><%=t(:text_and_the)%><a href="http://data.octo.dc.gov"><%=t(:text_dc_data_catalog)%></a>.</p>
  <p><%=t(:text_natdatcat_is_a_project_of_the)%><a href="http://sunlightlabs.org"><%=t(:text_sunlight_labs)%></a><%=t(:text_at_the)%><a href="http://sunlightfoundation.com"><%=t(:text_sunlight_foundation)%></a><%=t(:text_the_platform_consists_of_an_api_and_a_web_application_the_source_code_is_open_source_and_the_data_is_freely_available_via_our_api)%></p>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <div id="about" class="module">
      <h3><%=t(:text_overview)%></h3>
      <p><%=t(:text_the_national_data_catalog_is_an_open_interactive_catalog_of_government_data_sets)%></p>
    </div>
  </div>
</div>

<div class="clear"></div>
</div>