<% content_for :body_class do %><%=t(:text_blog)%><% end %>

<% content_for :title do %>
  <%=t(:text_blog)%>
<% end %>

<div id="ltColumn">
<% @entries.each do |entry| %>
  <div class="blog_post">
    <span class="postMeta">
      <span class="postmonth"><%= entry.published.to_s(:month) %></span>
      <span class="postday"><%= entry.published.to_s(:day) %></span>
    </span>
    <h3><%= entry.title %></h3>
    <div id="blog_content">
      <%= entry.summary %>
      <a class="allLink" href="<%= entry.url %>#comments"><%=t(:text_comments_raquo)%></a>
    </div>
    <div class="clear"></div>
  </div>
<% end -%>
</div>
<div id="rtColumnWrapper">
  <div id="rtColumn">

  </div>
</div>