<% content_for :body_class do %><%=t(:text_dashboard)%><% end %>

<% content_for :title do %>
  <%=t(:text_my_favorite_data_records)%>
<% end %>

<div id="ltColumn">
  <%= show_flash_message %>
  <% if current_user.favorite_records.empty? %>
  <div id="flash_notice">
    <%=t(:text_you_have_no_favorites_yet)%><%= link_to t(:label_browse), data_records_path %><%=t(:text_for_some)%>
  </div>
  <% end %>
  <table>
    <thead>
      <tr id="titles">
        <th class="left"><%=t(:text_data_source)%></th>
        <th class="center"><%=t(:text_rating)%></th>
        <th class="right"><%=t(:text_notes)%></th>
      </tr>
    </thead>
    <tbody>
      <% current_user.favorite_records.each do |source| %>
      <tr class="<%= cycle 'even', 'odd' %>">
        <td class="left dataContent">
          <%= link_to source.title, source_path(source.slug), :class => "dataName" %>
          <p class="clear"><%= truncate(source.description, 140) %></p>
        </td>
        <td class="center">
          <%= render 'ratings/stars', :rating => source.ratings_average %>
        </td>
        <td class="right notes">
        <% if source.annotations_by(current_user).any? %>
          <%= link_to t(:label_notes), data_record_notes_path(source, :anchor => "notes"), :class => "notesAvailable", :title => t(:label_notes) %>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="clear"></div>
