<% content_for :body_class do %><%=t(:text_home)%><% end %>

<% content_for :title do %>
  <%=t(:text_open_government_data)%>
<% end %>

<%= show_flash_message %>
<% content_for :feature_box do %>
  <div id="featureBox">
    <div id="feature_video">
      <object width="370" height="250"><param name="movie" value="http://www.youtube.com/v/szQhc1ndURY&hl=en_US&fs=1&rel=0&hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/szQhc1ndURY&hl=en_US&fs=1&rel=0&hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="370" height="250"></embed></object>
    </div>

    <div id="catalogDescription">
      <p id="featureDescription"><%=t(:text_the_national_data_catalog_is_an_open_platform_for_government_data_sets_and_apis_it_makes_it_easy_to_find_datasets_by_and_about_government_across_all_levels_federal_state_and_local_and_across_all_branches_executive_legislative_and_judicial_the_data_here_is_imported_from_multiple_sources_and_curated_by_our_staff)%></p>
      <p>
        <%=t(:text_our_catalog_contains)%>
        <%= pluralize(@source_count, "data set") %><% if @last_updated %><%=t(:text_and_was_last_updated)%><%= time_ago_in_words(@last_updated) %><%=t(:text_ago)%><% end %>.
        <% if @importers && @importers.length > 0 %>
          <%=t(:text_we_aggregate_sources_from)%>
          <% @importers.each do |importer| %>
            <a href="http://<%= importer.name %>"><%= importer.name %></a>,
          <% end %>
          <%=t(:text_and_the_sunlight_foundation_and_its_partners)%>
        <% end %>
      </p>
    </div>
  <div class="clear"></div>
  </div>
<% end %>

<div id="ltColumn">
  <p><%= link_to t(:label_signing_up), signup_url %><%=t(:text_for_an_account_on_the_national_data_catalog_allows_you_to_mark_data_sources_as_favorites_participate_in_discussions_and_contribute_to_documentation_it_also_gives_you_an_api_key_for_programmatic_access)%></p>
  <p><a id="lg_signup" class="buttonLink" href="<%= signup_url %>"><%=t(:text_sign_up)%></a></p>
  <p><%=t(:text_the_national_data_catalog_is_a_project_of_the)%><a href="http://sunlightlabs.org"><%=t(:text_sunlight_labs)%></a><%=t(:text_at_the)%><a href="http://sunlightfoundation.com"><%=t(:text_sunlight_foundation)%></a><%=t(:text_our_software_platform_is)%><a href="http://github.com/sunlightlabs"><%=t(:text_open_source)%></a><%=t(:text_it_consists_of_a_web_application_an)%><a href="http://api.nationaldatacatalog.com/docs"><%=t(:text_api)%></a><%=t(:text_and_data_importers)%>
</div>
<div id="rtColumnWrapper">
  <div id="rtColumn">
    <div id="features" class="module">
      <h3><%=t(:text_open_alpha)%></h3>
      <p><%=t(:text_this_site_is_currently_in_an_open_alpha_there_will_be_bugs_please_report_feedback_and_problems_via_the)%><%= link_to t(:label_contact_form), contact_path %>.</p>
    </div>
  </div>
</div>

<div class="clear"></div>
