<% content_for :body_class do %><%=t(:text_home)%><% end %>

<% content_for :title do %>
  <%=t(:text_open_government_data)%>
<% end %>

<%= show_flash_message %>
<% content_for :feature_box do %>
  <div id="featureBox">
    <div id="catalogDescription">
      <p id="featureDescription"><%=t(:text_the_open_data_catalog_description)%></p>
      <p>
        <%=t(:text_our_catalog_contains)%>
        <%= pluralize(@source_count, t(:data_set)) %><% if @last_updated %><%=t(:text_and_was_last_updated)%><%= time_ago_in_words(@last_updated) %><%=t(:text_ago)%><% end %>.
      </p>
    </div>
  <div class="clear"></div>
  </div>
<% end %>

<div id="ltColumn">
  <p><%= link_to t(:label_signing_up), signup_url %><%=t(:text_for_an_account)%></p>
  <p><a id="lg_signup" class="buttonLink" href="<%= signup_url %>"><%=t(:text_sign_up)%></a></p>
</div>
<div id="rtColumnWrapper">
  <div id="rtColumn">
    <div id="features" class="module">
      <h3><%=t(:text_open_alpha)%></h3>
      <p><%=t(:text_this_site_is_on_alpha)%><%= link_to t(:label_contact_form), contact_path %>.</p>
    </div>
  </div>
</div>

<div class="clear"></div>
