<% content_for :title do %>
  <%=t(:text_results_for)%><%= @term %><%=t(:text_)%>
<% end %>

<% content_for :body_class do %><%=t(:text_browse)%><% end %>

<div id="column_fullWidth">
  <div class="detailBox">
    <form id="searchForm" action="/search" method="get">
      <label><%=t(:text_refine_search)%></label>
      <input id="term" type="text" name="term" value="<%= @term %>"/>
      <button class="searchBtn" type="submit">
        <span><%=t(:text_search_the_catalog)%></span>
      </button>
    </form>
    <div class="clear"></div>
  </div>

  <% if @sources.length == 0 -%>
  <p><%=t(:text_no_results_found_try_searching_again)%></p>
  <% else -%>
  <div class="tableNav">
    <%= render 'shared/pagination', :docs => @sources %>
  </div>

  <%= render 'shared/source_table' %>

  <div class="tableNav">
    <%= render 'shared/pagination', :docs => @sources %>
  </div>

  <% end -%>
</div>       
