<ul>
  <% if current_user.admin? %> 
    <li>
      <%= form.label :owner_id, t(:text_added_by) %>
      <%= form.select :owner_id, grouped_options_for_select(owners_for_select(current_user)), :selected => current_user.id %>
    </li>
  <% end %>
  <li>
    <%= form.label :title, t(:text_title) %>
    <%= form.text_field :title %>
  </li>
  <li>
    <%= form.label :description, t(:text_description) %>
    <%= form.text_area :description %>
  </li>
</ul>
<ul id="location_fields">
  <% form.fields_for :data_record_locations do |location_form| %>
    <li>
      <%= location_form.label :location_id, t(:text_geographical_coverage) %>
      <%= location_form.select :location_id, all_locations_for_select(:stringify_ids => false), :disabled => "-------------" %>
    </li>
  <% end %>
</ul>
<ul>
  <li>
    <%= form.label :lead_organization_name, t(:text_lead_organization) %>
    <%= form.text_field :lead_organization_name %>
  </li>
  <li>
    <%= form.label :collaborator_list, t(:text_other_institutional_collaborators) %>
    <%= form.text_field :collaborator_list %>
    <p class="tip"><%=t(:text_separate_names_with_commas)%></p>
  </li>
  <li>
    <%= form.label :homepage_url, t(:text_homepage_url) %>
    <%= form.text_field :homepage_url %>
  </li>
</ul>

<h2><%=t(:text_authors)%></h2>
<ul id="authors">
  <% form.fields_for :authors do |author_form| %>
    <li>
      <div>
        <%= author_form.label :name, t(:text_author_name) %>
        <%= author_form.text_field :name, :class => "required" %>
      </div>
      <div>
        <%= author_form.label :affiliation_name, t(:text_author_affiliation) %>
        <%= author_form.text_field :affiliation_name %>
      </div>
      <div class="remove_checkbox">
        <% unless author_form.object.new_record? %>
          <%= author_form.check_box '_destroy' %>
          <%= author_form.label '_destroy', t(:label_remove) %>
        <% end %>
      </div>
    </li>
  <% end %>
  <li class="add_another">
    <%= link_to t(:add_author), "javascript:" %>
  </li>
</ul>

<ul>
  <li>
  <%= form.label :project_name, t(:text_project_name) %>
    <%= form.text_field :project_name %>
  </li>
  <li>
    <%= form.label :funder , t(:text_funder) %>
    <%= form.text_field:funder %>
  </li>
  <li>
    <%= form.label :year, t(:text_publication_year) %>
    <%= form.select :year, (1950..Date.today.year).to_a.reverse %>
  </li>
  <li>
    <%= form.label :tag_list, t(:text_tags) %>
    <%= form.text_field :tag_list %>
  </li>
</ul>

<h2><%=t(:text_attached_documents)%></h2>
<ul id="documents_fields">
  <% form.fields_for :documents do |document_form| %>
    <li>
      <div class="toggable-fields">
        <div>
          <%= document_form.label :title %>
          <%= document_form.text_field :title %>
        </div>
        <div>
          <%= document_form.label :document_type, t(:text_document_type) %>
          <%= document_form.select :document_type, Document::DOCUMENT_TYPES %>
        </div>
        <div class="toggle">
          <%= document_form.radio_button :storage, "upload" %>
          <%= document_form.label :storage_upload, t(:text_storage_upload) %>

          <%= document_form.radio_button :storage, "external" %>
          <%= document_form.label :storage_external, t(:text_storage_external) %>
        </div>
        <div class="toggable upload">
          <%= document_form.label :file, t(:text_storage_upload) %>
          <%= document_form.file_field :file, :class => "required" %>
          <% if document_form.object.file_file_name.present? %>
            <span class="current_file">
              <%=t(:text_current_file)%><%= link_to document_form.object.file_file_name, document_form.object.download_url %>
          </span>
          <% end %>
        </div>
        <div class="toggable external">
          <%= document_form.label :external_url, t(:text_external_url) %>
          <%= document_form.text_field :external_url, :class => "required" %>
        </div>
        <div class="remove_checkbox">
          <% unless document_form.object.new_record? %>
            <%= document_form.check_box '_destroy' %>
            <%= document_form.label '_destroy', t(:label_remove) %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <li class="add_another">
    <%= link_to t(:add_document), "javascript:" %>
  </li>
</ul>

<h2><%=t(:text_contact_details_to_request_more_information)%></h2>
<ul>
<% form.fields_for :contact do |contact_form| %>
  <li>
    <%= contact_form.label :name, t(:text_name) %>
    <%= contact_form.text_field :name %>
  </li>
  <li>
    <%= contact_form.label :email, t(:text_email) %>
    <%= contact_form.text_field :email %>
  </li>
  <li>
    <%= contact_form.label :phone, t(:text_phone) %>
    <%= contact_form.text_field :phone %>
  </li>
<% end %>
</ul>
