<% content_for :title do %>
<%=t(:text_generate_new_api_key)%>
<% end %>

<% content_for :body_class do %><%=t(:text_profile)%><% end %>

<div id="ltColumn">
  <%= show_flash_message %>
  <%= form_tag profile_keys_path, {:class => "generateAPI_page"} %>
  <ul>
    <%= render :partial => "form" %>
    <li>
      <button class="generate" type="submit" value="Generate" name="commit">
        <span><%=t(:text_generate_api_key)%></span>
      </button>
    </li>
  </ul>
  </form>
</div>

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">

  </div>
</div>        