<table id="browseTable">
  <thead>
    <tr id="titles">
      <%= sortable_table_header :name => t(:data_record),  :sort => :title,        :class => "sort left"   %>
      <%= sortable_table_header :name => t(:rating),       :sort => :rating,       :class => "sort left"   %>
      <%= sortable_table_header :name => t(:location),     :sort => :location,     :class => "sort center" %>
      <%= sortable_table_header :name => t(:ministry),     :sort => :ministry,     :class => "sort center" %>
      <%= sortable_table_header :name => t(:organization), :sort => :organization, :class => "sort center" %>
      <%= sortable_table_header :name => t(:formats),      :sort => :format,       :class => "sort center" %>
      <%= sortable_table_header :name => t(:tags),         :sort => :tags,         :class => "sort center" %>
    </tr>
  </thead>
  <tbody>
    <%= render @data_records %>
  </tbody>
</table> 
