<h4><%=t(:text_most_useful_comments)%></h4>
<ul id="usefulComments">
  <li class="left">
    <div class="comment"><%=t(:text_lorem_ipsum_dolor_sit_amet_consectetur_adipiscing_elit_curabitur_ut_bibendum_ante_morbi_risus_elit_porta_sit_ametmattis_fermentum_fringilla_id_augue_donec_pretium_venenatis_lorem_quis_sagittis_lacus_elementum_sit_amet_aenean_euismod_placerat_tortor_vitae_luctus)%></div>
    <div class="rating">
      <form action="#" method="post">
        <button title="Vote This Comment Up" class="thumbUp" type="submit">
          <span><%=t(:text_vote_this_comment_up)%></span>
        </button>
      </form>
      <span class="ratingNumber"><%=t(:text_10)%></span>
    </div>
    <span class="commentDate"><%=t(:text_jan_14_2009)%></span>
    <span class="author"><%=t(:text_by)%><a href="#"><%=t(:text_james1251)%></a></span>
  </li>
  <li class="right">
    <div class="comment"><%=t(:text_lorem_ipsum_dolor_sit_amet_consectetur_adipiscing_elit_curabitur_ut_bibendum_ante_morbi_risus_elit_porta_sit_ametmattis_fermentum_fringilla_id_augue_donec_pretium_venenatis_lorem_quis_sagittis_lacus_elementum_sit_amet_aenean_euismod_placerat_tortor_vitae_luctus)%></div>
    <div class="rating">
      <form action="#" method="post">
        <button title="Vote This Comment Up" class="thumbUp" type="submit">
          <span><%=t(:text_vote_this_comment_up)%></span>
        </button>
      </form>
      <span class="ratingNumber"><%=t(:text_10)%></span>
    </div>
    <span class="commentDate"><%=t(:text_jan_14_2009)%></span>
    <span class="author"><%=t(:text_by)%><a href="#"><%=t(:text_james1251)%></a></span>
  </li>
  <li class="clear"></li>
</ul>	
<div class="clear"></div>