<% content_for :title do %>
  <%= @source.title %><%=t(:text_example_usages)%>
<% end %>

<%= render 'tabs' %>

<% content_for :body_class do %><%=t(:text_home)%><% end %>

<div id="ltColumn">

</div>
<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <%= render 'sidebar_favorites' %>
    <%= render 'sidebar_notes' %>
  </div>
</div>