<% content_for :title do %>
  <%=t(:text_organizations)%>
<% end %>

<% content_for :body_class do %><%=t(:text_admin)%><% end %>

<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>

<div id="ltColumn">
  <div class="tableNav">
    <%= will_paginate @organizations %>
  </div>
  <table id="dataSources">
    <thead>
      <tr id="titles">
        <th class="left sort"><%=t(:text_name)%></th>
        <th class="left"><%=t(:text_acronym)%></th>
        <th class="right"><%=t(:text_date_added)%></th>
      </tr>
    </thead>
    <tbody>
      <% @organizations.each do |organization| -%>
      <tr class="<%= cycle 'even','odd'%>">
        <td class="left">
          <%= link_to organization.name, admin_organization_path(organization) %>
        </td>
        <td class="center">
          <a href="#"><%= organization.acronym %></a>
        </td>
        <td class="right"><%= organization.created_at.to_s(:mdy_slashed) %></td>
      </tr>
      <% end -%>
    </tbody>
  </table>
  <div class="tableNav">
    <%= will_paginate @organizations %>
  </div>
</div>

<%= render 'sidebar' %>
