<% if current_user -%>

<%= form.hidden_field :user_id, :value => current_user.id %>

<% else -%>

<li>
    <%= form.label :name, t(:name) %>
    <%= form.text_field :name %>
</li>

<li>
    <%= form.label :email, t(:email_address) %>
    <%= form.text_field :email %>
</li>

<% end -%>

<li>
    <%= form.label :comments, t(:comments) %>
    <%= form.text_area :comments %>
</li>
