<% content_for :title do %>
  <%=t(:text_user_accounts)%>
<% end %>

<% content_for :body_class do %><%=t(:text_admin)%><% end %>

<% content_for :tabs do %>
  <%= render 'admin/tabs' %>
<% end %>

<div id="ltColumn">
  <%= show_flash_message %>

  <% if @term.blank? -%>
    <h3>
      <%=t(:text_there_are)%><%= total_users %><%=t(:text_registered_users)%>
      <%= link_to t(:label_add_new), new_admin_user_path %>
    </h3>
  <% else -%>
    <h3>
      <%=t(:text_there_are)%><%= @users.length %><%=t(:text_results_for)%><%= @term %>.
      <%= link_to t(:label_add_new), new_admin_user_path %>
    </h3>
  <% end -%>

    <table id="usersTable">
      <thead>
        <tr id="titles">
          <th><%=t(:text_name)%></th>
          <th><%=t(:text_email)%></th>
          <th><%=t(:text_latest_activity)%></th>
          <th><%=t(:text_delete)%></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| -%>
        <tr class="<%= cycle('even','odd') %>">
          <td><%= link_to user.display_name, admin_user_path(user) %></td>
          <td><%= link_to user.email, "mailto:#{user.email}" %></td>
          <td><%= user.last_request_at ? time_ago_in_words(user.last_request_at) + " ago" : "never" %>
          <td><%= link_to t(:label_delete), admin_user_path(user), :method => :delete, :class => "deleteIcon", :alert => "Are you sure?" %></td>
        </tr>
        <% end # User.all.each -%>
      </tbody>
    </table>
</div>
<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">

    <div id="search" class="module">
      <h3><%=t(:text_search_for_user)%></h3>
      <% form_tag admin_users_path, :method => :get do -%>
        <input id="searchInput" type="text" name="search" />
        <button class="search" type="submit">
          <span><%=t(:text_search)%></span>
        </button>
      <% end -%>
      <p class="tip"><%=t(:text_enter_in_a_name_or_email_address)%></p>
    </div>
    
    <div id="adminUsers" class="module">
      <h3><%=t(:text_admins)%></h3>
     
      <ul class="adminUsers">
        <% @admins.each do |user| %>
          <li>
             <%= link_to user.display_name, admin_user_path(user) %>
          </li>
        <% end %>
        <li class="clear"></li>
      </ul>
    </div>
  </div>
</div>
