<% content_for :body_class do %><%=t(:text_sign_in_lgheader)%><% end %>

<% content_for :title do %>
<%=t(:text_sign_in)%>
<% end %>

<% content_for :tabs do %>
<div id="signin_tabs">
  <ul class="tabs">
    <li id="nav_standard_signin"><a class="buttonLink active" href="#"><%=t(:text_standard_sign_in)%></a></li>
    <!--    <li id="nav_openid_signin"><a class="buttonLink" href="#"><%=t(:text_openid_sign_in)%></a></li> -->
  </ul>
</div>
<div class="clear"></div>
<% end %>

<div id="ltColumn">
  <%= show_flash_message %>

  <div class="tab_panes">

    <div class="tab_pane">
      <% form_for @user_session, :url => user_session_path, :id => "" do |f| %>
      <%= f.error_messages custom_error_messages %>
      <ul id="standard_signin">
        <li>
          <%= f.label :email, t(:email) %>
          <%= f.text_field :email %>
        </li>
        <li>
          <%= f.label :password, t(:password)  %>
          <%= f.password_field :password %>
        </li>
        <li class="signIn_cues">
          <%= f.check_box :remember_me, {:class => "checkbox"} %>
          <%= f.label :remember_me, "Stay Signed In", {:class => "inline"}  %>
          <%= link_to "Forgot Your Password?", forgot_path %>
        </li>
        <li>
          <button class="signIn" id="user_session_submit" type="submit" value="Sign In" name="commit">
            <span><%=t(:label_sign_in)%></span>
          </button>
        </li>
      </ul>
      <% end %>
    </div>

    <div class="tab_pane">
      <% form_for @user_session, :url => user_session_path, :id => "" do |f| %>
      <%= f.error_messages custom_error_messages %>

      <ul id="openID_signin">
        <li>
          <%= f.label :openid_identifier, 'OpenID URL' %>
          <%= f.text_field :openid_identifier %>
        </li>
        <li>
          <button class="signIn_openID" id="user_session_submit_openID" type="submit" value="Sign In Via OpenID" name="commit">
            <span><%=t(:text_sign_in_with_openid)%></span>
          </button>
        </li>
      </ul>
      <% end %>
    </div>
  </div><!-- tab_panes -->
</div><!-- ltColumn -->

<div id="rtColumnWrapper">
  <div id="rtColumn" class="withBg">
    <h3><%=t(:text_no_account_yet)%></h3>
    <p><%=t(:text_you_ll_need_to)%><%= link_to t(:label_sign_up), signup_path %><%=t(:text_first)%></p>
  </div>
</div>
<div class="clear"></div>
