<div id="footerWrapper">
  <div id="footer">
    <div id="footerNav">
      <ul>
        <li id="navfooter_about"><%= link_to t(:label_about), about_path %></li>
        <li id="navfooter_contact"><%= link_to t(:label_contact), contact_path %></li>
      </ul>
    </div>
    <div id="recentData">
      <h4><%=t(:text_recent_data)%></h4>
      <ul>
        <li><a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_guam)%></a></li>
        <li><a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_puerto_rico)%></a></li>
        <li><a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_the_district_of_columbia)%></a></li>
        <li><a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_guam)%></a></li>
      </ul>
    </div>
    <div id="HigestRatedData">
      <h4><%=t(:text_highest_rated_data)%></h4>
      <ul>
        <li>
          <a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_guam)%></a>
          <ul class="star-rating ratedThreeStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
          <div class="clear"></div>
        </li>
        <li>
          <a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_puerto_rico)%></a>
          <ul class="star-rating ratedThreeStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
          <div class="clear"></div>
        </li>
        <li>
          <a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_the_district_of_columbia)%></a>
          <ul class="star-rating ratedThreeStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
          <div class="clear"></div>
        </li>
        <li>
          <a href="#"><%=t(:text_2005_toxics_release_inventory_data_for_guam)%></a>
          <ul class="star-rating ratedThreeStars">
            <li class="oneStar">1</li>
            <li class="twoStars">2</li>
            <li class="threeStars">3</li>
            <li class="fourStars">4</li>
            <li class="fiveStars">5</li>
          </ul>
          <div class="clear"></div>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>