<div id="footerWrapper">
  <div id="footer">
    <div id="footerNav">
      <ul>
        <li id="navfooter_about"><%= link_to t(:label_about), about_path %></li>
        <li id="navfooter_contact"><%= link_to t(:label_contact), contact_path %></li>
      </ul>
    </div>
    <a id="foundationLogo" href="http://www.cuboxsa.com"><%=t(:text_cubox)%></a>
    <div id="privacyPolicy">
      <h4><%=t(:text_a_project_of_cubox)%><a href="href://www.nationaldatacatalog.com">National Data Catalog</a>.</h4>
      <p><%=t(:text_about_datos_abiertos) %></p>
    </div>
    <div class="clear"></div>
  </div>
</div>
