<div id="footerWrapper">
  <div id="footer">
    <div id="footerNav">
      <ul>
        <li id="navfooter_about"><%= link_to t(:label_about), about_path %></li>
        <li id="navfooter_contact"><%= link_to t(:label_contact), contact_path %></li>
      </ul>
    </div>
    <a id="foundationLogo" href="http://www.sunlightfoundation.com"><%=t(:text_sunlight_foundation)%></a>
    <div id="privacyPolicy">
      <h4><%=t(:text_a_project_of_the_sunlight_foundation)%></h4>
      <p><%=t(:text_founded_in_2006_the_sunlight_foundation_uses_cutting_edge_technology_and_ideas_to_make_government_transparent_and_accountable_through_its_projects_and_grant_making_sunlight_serves_as_a_catalyst_to_create_greater_political_transparency_and_to_foster_more_openness_and_accountability_in_government_visit)%><a href="http://sunlightfoundation.com"><%=t(:text_sunlightfoundation_com)%></a><%=t(:text_to_learn_more)%></p>
    </div>
    <div class="clear"></div>
  </div>
</div>