<div id="header">
  <h1><%= link_to t(:label_national_data_catalog), root_path %></h1>
  <div id="utility">
    <ul>
    <% if current_user -%>
      <% if current_user.admin_or_ministry_user? -%>
        <li id="utilityRegister"><%= link_to t(:label_admin), admin_data_records_path %></li>
      <% end -%>
      <li id="utilityRegister"><%= link_to t(:label_account_settings), edit_profile_path %></li>
      <li id="utilitySignout"><%= link_to t(:label_sign_out), signout_path %></li>
    <% else -%>
      <li id="utilityRegister"><%= link_to t(:label_sign_up), signup_path %></li>
      <li id="utilitySignup"><%= link_to t(:label_sign_in), signin_path %></li>
    <% end -%>
    </ul>
    <div class="clear"></div>
  </div>

  <div id="nav">
    <ul>
      <li id="nav_dashboard"><%= link_to t(:label_dashboard), dashboard_path, :class => active_if(:action => "dashboard", :current_user => true) %></li>
      <li id="nav_browse"><%= link_to t(:label_browse), data_records_path, :class => active_if(:controller => "data_records", :action => "index") %></li>
      <li id="nav_add"><%= link_to t(:label_add_data), new_data_record_path, :class => active_if(:controller => "data_records", :action => ["new", "create"]) %></li>
    </ul>
  </div>
</div>
